<!-- Botão para abrir o modal -->
<!-- <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#registrationModal"
>
  Cadastre-se
</button> -->

<!-- Modal de cadastro -->
<div
  class="modal fade"
  id="registrationModal"
  tabindex="-1"
  aria-labelledby="registrationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrationModalLabel">
          Cadastro de Usuário
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Formulário de cadastro -->
        <form>
          <div class="mb-3">
            <label for="nameInput" class="form-label">Nome</label>
            <input
              type="text"
              class="form-control"
              id="nameInput"
              placeholder="Digite seu nome"
            />
          </div>
          <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="emailInput"
              placeholder="Digite seu email"
            />
          </div>
          <div class="mb-3">
            <label for="passwordInput" class="form-label">Senha</label>
            <input
              type="password"
              class="form-control"
              id="passwordInput"
              placeholder="Digite sua senha"
            />
          </div>

          <input
            style="display: none"
            type="checkbox"
            class="form-check-input"
            id="adminCheck"
          />

          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
